apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "envoy-proxy-bouncer.fullname" . }}
  labels:
    {{- include "envoy-proxy-bouncer.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "envoy-proxy-bouncer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "envoy-proxy-bouncer.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "envoy-proxy-bouncer.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["serve", "--config", "/app/config/config.yaml"]
          ports:
            - name: grpc
              containerPort: {{ .Values.config.server.grpcPort }}
              protocol: TCP
            {{- if .Values.config.captcha.enabled }}
            - name: http
              containerPort: {{ .Values.config.server.httpPort }}
              protocol: TCP
            {{- end }}
          {{- if .Values.probes.liveness.enabled }}
          livenessProbe:
            grpc:
              port: {{ .Values.config.server.grpcPort }}
              service: liveness
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
          {{- end }}
          {{- if .Values.probes.readiness.enabled }}
          readinessProbe:
            grpc:
              port: {{ .Values.config.server.grpcPort }}
              service: readiness
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
          {{- end }}
          env:
          {{- with .Values.config.bouncer }}
            {{- if and .apiKeySecretRef .apiKeySecretRef.name .apiKeySecretRef.key }}
            - name: ENVOY_BOUNCER_BOUNCER_APIKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .apiKeySecretRef.name | quote }}
                  key: {{ .apiKeySecretRef.key | quote }}
            {{- end }}
          {{- end }}
          {{- with .Values.config.waf }}
            {{- if and .apiKeySecretRef .apiKeySecretRef.name .apiKeySecretRef.key }}
            - name: ENVOY_BOUNCER_WAF_APIKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .apiKeySecretRef.name | quote }}
                  key: {{ .apiKeySecretRef.key | quote }}
            {{- end }}
          {{- end }}
          {{- with .Values.config.captcha }}
            {{- if and .secretKeySecretRef .secretKeySecretRef.name .secretKeySecretRef.key }}
            - name: ENVOY_BOUNCER_CAPTCHA_SECRETKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .secretKeySecretRef.name | quote }}
                  key: {{ .secretKeySecretRef.key | quote }}
            {{- end }}
            {{- if and .signingKeySecretRef .signingKeySecretRef.name .signingKeySecretRef.key }}
            - name: ENVOY_BOUNCER_CAPTCHA_SIGNINGKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .signingKeySecretRef.name | quote }}
                  key: {{ .signingKeySecretRef.key | quote }}
            {{- end }}
          {{- end }}
          {{- with .Values.config.webhook }}
            {{- if and .signingKeySecretRef .signingKeySecretRef.name .signingKeySecretRef.key }}
            - name: ENVOY_BOUNCER_WEBHOOK_SIGNINGKEY
              valueFrom:
                secretKeyRef:
                  name: {{ .signingKeySecretRef.name | quote }}
                  key: {{ .signingKeySecretRef.key | quote }}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: bouncer-config
              mountPath: /app/config
              readOnly: true
          {{- if or .Values.templates.deniedTemplateContent .Values.templates.captchaTemplateContent }}
            - name: custom-templates
              mountPath: /app/template/html
              readOnly: true
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: bouncer-config
          configMap:
            name: {{ include "envoy-proxy-bouncer.fullname" . }}-config
      {{- if or .Values.templates.deniedTemplateContent .Values.templates.captchaTemplateContent }}
        - name: custom-templates
          configMap:
            name: {{ include "envoy-proxy-bouncer.fullname" . }}-templates
      {{- end }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
